<div class="item">
    <input type="checkbox" [id]="Item.description"  (change)="Item.done = !Item.done" [checked]="Item.done">
    <label [for]="Item.description">{{Item.description}}</label>
    <div class="btn-wrapper" *ngIf="!editable">
        <button class="btn" mat-button color="warn" (click)="editable=!editable">Edit</button>
        <button mat-button color="warn" (click)="remove.emit()">delete</button>
    </div>
    <div *ngIf="editable">
        <input type="text" [value]="Item.description" #editedItem (keyup.enter)="saveitem(editedItem.value)">
        <div class="btn-wrapper">
            <button class="btn" (click)="editable=!editable">cancle</button>
            <button class="btn btn-save" (click)="saveitem(editedItem.value)">Save</button>
        </div>
    </div>
</div>
